body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6ebf7;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  border: 1px solid #ff0000;
}

nav{
  border: 1px solid #0000ff;
}

/* -------- HEADER Component. ------------ */

nav{
  background-color: #4c0052;
  display: flex;
  justify-content: space-between;
}

nav p{
  margin: auto auto auto 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-flex;
  margin-right: 20px;
  font-size: .9rem;
}

/* -------- FOOTER Component. ------------ */

footer{
  background-color: #4c0052;
  display: flex;
  padding: 20PX;
}

footer p{
  font-size: 0.9rem;
  margin: auto auto auto auto;
}

/* -------- COUNTERS SECTION Component. ------------ */

.counters-section{
  color: #000000;
  padding: 20px;
  text-align: center;
}

/* -------- COUNTER Component. ------------ */

.counter-card{
  background-color: #ffffff;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

#btn-success, #btn-danger{
  border: none;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px #bfbfbf;
  cursor: pointer;
}

#btn-success{
  background-color: #1eff00;
}

#btn-danger{
  background-color: #ff0000;
}
